<ul class="nav nav-pills" role="tablist">
    <li class="nav-item">
      <a class="nav-link active" data-toggle="pill" href="#total">
        <div>전체보기</div>
      </a>
    </li>
      <li class="nav-item">
      <a class="nav-link" data-toggle="pill" href="#news">
        <div>NEWS</div>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="pill" href="#event">
        <div>EVENT</div>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="pill" href="#report">
        <div>REPORT</div>
      </a>
    </li>
</ul>